{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="Research, Design, and Development for California and beyond" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static '182.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} container">
      

        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static '734.53c704348ac1c594d9b6.js' %}"></script>
        <script type="text/javascript" src="{% static 'index.8fbe9689aae4fa61a115.js' %}"></script>
        <script type="text/javascript" src="{% static 'runtime.0fa0cef7eb1016416290.js' %}"></script>
        <script type="text/javascript" src="{% static 'styles.18cfdfa0ff3594ca82b4.js' %}"></script>



        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
